* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.wrap {
  max-width: 1290px;
  margin: auto;
}
.header {
  position: relative;
}
.header .nav_top {
  background: #f2f2f2;
  padding: 15px 0;
}
.header .wrap,
.header .menu,
.header .social_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav_bottom .social_block_icon a {
  display: inline-block;
  border: 2px solid #d9bf8f;
  width: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  color: #d9bf8f;
}
.header .nav_bottom .button_block .btn {
  background: #000;
  color: #fff;
  padding: 5px 15px;
}
.header .nav_bottom .logo {
  font-size: 72px;
  font-family: 'Bobur';
}
.header .triangle {
  position: absolute;
  height: 100px;
  width: 400px;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  bottom: -70px;
  background: #fff;
  z-index: 10;
  margin: auto;
  left: 0;
  right: 0;
}
.section_slider .slider .item {
  position: relative;
}
.section_slider .slider .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}
.section_slider .slider .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 50px;
  display: flex;
  justify-content: center;
}
.section_slider .slider .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background: #B2B2B2;
  transform: rotate(45deg);
  margin: 0 6px;
}
.section_slider .slider .owl-dots .owl-dot.active {
  background: #000;
}
.section_info {
  padding: 90px 0;
}
.section_info .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.section_info .box {
  background: #d9bf8f;
  height: 100px;
}
.section_info .center {
  background: #000;
}
img {
  max-width: 100%;
  height: 100%;
}
.section_handpicked .h2 {
  text-align: center;
}
.section_handpicked .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 70px;
}
.section_handpicked .card:nth-child(3) {
  grid-column: 2;
  grid-row: 1 / 3;
}
.section_handpicked .card {
  position: relative;
}
.section_handpicked .card .link {
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: 2px solid #f2f2f2;
  top: 20px;
  left: 20px;
  transition: .3s;
}
.section_handpicked .card .link span {
  width: 120px;
  background: #f09d66;
  color: #fff;
  display: block;
  position: absolute;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  transition: .3s;
  opacity: 0;
}
.section_handpicked .card:hover .link {
  background: rgba(0, 0, 0, 0.5);
  border-color: transparent;
}
.section_handpicked .card:hover .link span {
  opacity: 1;
}
.img {
  display: flex;
  align-items: center;
}
.img:before,
.img:after {
  content: "";
  height: 2px;
  width: 100%;
  background: #f2f2f2;
}
.img .h {
  width: 385px;
  text-align: center;
  flex-shrink: 0;
  background: url(../img/rectangle.png) no-repeat center left, url(../img/rectangle.png) no-repeat center right;
  margin: 0 60px;
}
.collection .wrap .title_border_image {
  margin: 70px 0;
}
.collection .wrap .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
